pipeline/rxglobaldevtestpipelineem.json
{
	"name": "rxglobaldevtestpipelineem",
	"properties": {
		"activities": [
			{
				"name": "GetMetaDataFilesList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select distinct MetaDatafilename from rxglobaldevtestmetadatatableem"
					},
					"dataset": {
						"referenceName": "rxglobaldevtestmetadatafilelistdataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CheckMetaDataFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetaDataFilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetaDataFilesList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CheckFileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "rxglobaldevtestinputdataset",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}