pipeline/rxglobaldevtestpipelineem.json
{
	"name": "rxglobaldevtestpipelineem",
	"properties": {
		"activities": [
			{
				"name": "GetMetaDataFilesList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select distinct MetaDatafilename from rxglobaldevtestmetadatatableem"
					},
					"dataset": {
						"referenceName": "rxglobaldevtestmetadatafilelistdataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CheckMetaDataFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetaDataFilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetaDataFilesList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CheckFileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "rxglobaldevtestinputdataset",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							}
						},
						{
							"name": "Stored Procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CheckFileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[MetaDataActivityLog]",
								"storedProcedureParameters": {
									"IsExists": {
										"value": {
											"value": "@activity('CheckFileExists').output.exists",
											"type": "Expression"
										},
										"type": "String"
									},
									"MetaDataFileName": {
										"value": {
											"value": "@item().MetaDatafilename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "rxglobaldevtestsqlLS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Stored Procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('CheckFileExists').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ReadMetaDataFiles",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSetting",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSetting"
												}
											},
											"dataset": {
												"referenceName": "rxglobaldevtestinputdataset",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "GetMetadataInputFiles",
										"type": "GetMetadata",
										"dependsOn": [
											{
												"activity": "ReadMetaDataFiles",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "rxglobaldevtestinputdatafiles",
												"type": "DatasetReference"
											},
											"fieldList": [
												"exists"
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSetting",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSetting"
											}
										}
									},
									{
										"name": "Data Copy From Blob to ADLS",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "GetMetadataInputFiles",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSetting",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSetting"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureDataLakeStoreWriteSetting"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSetting",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "rxglobaldevtestinputdatafiles",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "rxlobaldevtestoutputdataset",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Send Email",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "Data Copy From Blob to ADLS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": "https://prod-16.centralus.logic.azure.com:443/workflows/054c624df5eb44148a9860927f8d689c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=5QCK5zP_aRNvqTBBTBWFiikhCYIU_rhJOsLRJKU6sUM",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"DataFactoryName": "@{pipeline().DataFactory}",
												"PipelineName": "@{pipeline().Pipeline}",
												"Subject": "An error has occurred!",
												"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
												"EmailTo": "anisharhr@outlook.com"
											},
											"linkedServices": [],
											"datasets": []
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}